<h1> game start </h1>
<script>
  let play_time = localStorage.getItem("Time");

  alert(play_time);
  if (play_time == null){
    play_time= 60;
  }
 

</script>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Countdown Timer</title>

  <style>
    #timer {
      font-size: 30px;
      font-weight: bold;
    }
  </style>

  <script>
    // Function to start countdown
    function startCountdown() {

      alert(play_time);


      const timerElement = document.getElementById("timer");
      const countdownInterval = setInterval(function() {
        timerElement.textContent = play_time + " seconds remaining";
        play_time--;

        if (play_time < 0) {
          clearInterval(countdownInterval);
          window.location.href = "/placeholder/result"; // Redirect when time is up
          localStorage.setItem("Time", 60);

        }
      }, 1000); // Update every 1 second
    }
    window.onload = startCountdown; // Start countdown when page loads
  </script>

</head>
<body>
<h1>Game Start</h1>
  <div id="timer"></div> <!-- Timer display -->
<ul>
<% @leaders.each do |leader| %>

    <li>
        <%= leader['name'] %>
    </p>
        <ul>
            <li>
                <%= leader['name'] %>
            </li>
            <li>
                <%= leader['country'] %>
            </li>
            <li>
                <%= leader['continent'] %>
            </li>
            <li>
                <img src="<%= leader['img'] %>">
            </li>
            <li>
              <button onclick="right()">right</button>
              <button onclick="wrong()">wrong</button>
              <button onclick="retrieveData()">Retrieve Data</button>
            </li>
            <li>
              <h1>Page Refresh Example</h1>
              <button onclick="refreshPage(play_time)">Refresh Page</button>
            </li>

        </ul>
    </li>
<% end %>
</ul>

    <script>
        function refreshPage(input) {
          let temp_time=input
          time_store(temp_time);
          location.reload();
          
        }
    </script>
    <script>
        let x=0
        let y=0
        localStorage.setItem("tempData", [x,y]);

        function right() {
            localStorage.setItem("tempData", [x+=1,y]);
            alert("Data Stored in Local Storage!");
    
        }
         function wrong() {
            localStorage.setItem("tempData", [x,y+=1]);
            alert("Data Stored in Local Storage!");
        }
        function retrieveData() {
            let data = localStorage.getItem("tempData");
            alert("Retrieved Data: " + data);
        }

        function time_store(input) {
            localStorage.setItem("Time", input);
            alert("Data Stored in Local Storage!");
        }
    </script>
</body>
</html>
