<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Countdown Timer</title>

  <style>
    #timer {
      font-size: 30px;
      font-weight: bold;
    }
  </style>
  <script>
  function startCountdown() {
    let play_time = <%= @TIME %>;
    const timerElement = document.getElementById("timer");
    const timeInput = document.getElementById("play_time_input");
    const form = document.getElementById("nameForm");

    const countdownInterval = setInterval(function () {
      timerElement.textContent = play_time + " seconds remaining";
      timeInput.value = play_time;
      play_time--;

      if (play_time < 0) {
        clearInterval(countdownInterval);
        window.location.href = "/placeholder/result";
      }
    }, 1000);
  }

  window.onload = startCountdown;
</script>


</head>
<body>
<h1>Game Start</h1>
  <div id="timer"></div>
<ul>
  <li>
    <%= @current_leader['name'] %>
    <ul>
      <li><%= @current_leader['name'] %></li>
      <li><%= @current_leader['country'] %></li>
      <li><%= @current_leader['continent'] %></li>
      <li><img src="<%= @current_leader['img'] %>"></li>
      <li>
        <form id="nameForm" action="/check_name" method="post">
          <label>Name <input type="text" name="leader_name"></label>
          <input type="hidden" name="play_time" id="play_time_input">
          <input type="submit" value="Spara">
        </form>

      </li>
    </ul>
  </li>
</ul>

</body>
</html>
