<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Countdown Timer</title>

  <style>
    #timer {
      font-size: 30px;
      font-weight: bold;
    }
  </style>
  <script>
    // Function to start countdown
    function startCountdown() {
      let play_time = <%= @TIME%>; // Set the countdown time in seconds
      const timerElement = document.getElementById("timer");
      const countdownInterval = setInterval(function() {
        timerElement.textContent = play_time + " seconds remaining";
        play_time--;

        if (play_time < 0) {
          clearInterval(countdownInterval);
          window.location.href = "/placeholder/result"; // Redirect when time is up
        }
      }, 1000); // Update every 1 second
    }
    window.onload = startCountdown; // Start countdown when page loads
  </script>

</head>
<body>
<h1>Game Start</h1>
  <div id="timer"></div> <!-- Timer display -->
<ul>
  <li>
    <%= @current_leader['name'] %>
    <ul>
      <li><%= @current_leader['name'] %></li>
      <li><%= @current_leader['country'] %></li>
      <li><%= @current_leader['continent'] %></li>
      <li><img src="<%= @current_leader['img'] %>"></li>
      <li>
        <form action="/check_name" method="post">
          <label>Name <input type="text" name="leader_name"></label>
          <input type="submit" value="Spara">
        </form>
      </li>
    </ul>
  </li>
</ul>

</body>
</html>
